* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline-color: var(--green-light);
}

body {
	height: 100vh;
	background: var(--white);
	font-family: var(--font-lato);
	color: var(--gray);
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--purple-light);
}

label {
	cursor: pointer;
}
