:root {
	--green-light: #04c35c;
	--purple-light: #2b6cb0;
	--white: #ffffff;
	--white-200: #f7fafc;
	--gray: #1a202c;

	--font-lato: 'Lato', sans-serif;
	--font-merriweather: 'Merriweather', serif;
}
